.site-name {
    display: none !important; // see #1099 in Vuepress repo
}

.horizontal-cards .page div {
    max-width: 960px;
}

.newsletter {
    width: 100%;
    height: 800px;
}

.donor {
    padding: 2% 15%;
}
